<% var pageLevelCSS = { %> <%};%> <% var pageLevelJS = { %>

<script type="text/javascript">
	jQuery(document).ready(function() {

	});
	
	function modifyPassword() {
		
		var oldPassword = $('#oldPassword').val();
		var newPassword =$('#newPassword').val();
		var repeatPassword = $('#repeatPassword').val();
		
		if (oldPassword == '') {
            alert('旧密码不能为空');
            return false;
        }

        if (newPassword.indexOf(' ') != -1) {
            alert('密码中不能包含空格');
            return false;
        }

        if (newPassword != repeatPassword) {
            alert('两次输入的密码不一致');
            return false;
        }
        
        $.ajax( {  
		    url:'${contextPath}/mine/doEditPassword', 
		    data:{  
		             oldPassword : oldPassword,  
		             newPassword : newPassword 
		    },
		    type:'post',  
		    cache:false,  
		    dataType:'json',
		    success:function(data) {
		    	console.log(data);
		    	data = eval("(" + data + ")");
		        if(data.code == 0 ){
		        	alert(data.message);
		            window.location.href = '${contextPath}/login'  
		        }else{  
		            alert(data.message); 
		        }  
		     },  
		     error : function() {  
		          alert("异常！");  
		     }  
		});
        
	}
	
	
</script>

<%};%> 

<% var breadCrumb = { %> <strong class="am-text-primary am-text-lg">我的</strong> /
        <small>修改密码</small> 
<%};%> 

<% var layoutParas =
{"pageLevelCSS":pageLevelCSS,"pageLevelJS":pageLevelJS,"breadCrumb":breadCrumb};
layout("/template/layout/mineLayout.html", layoutParas){ %>




<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form" action="javascript:void(0)">
			
			<label for="oldPassword">旧密码:</label>
            <input type="password" name="oldPassword" id="oldPassword" value="">
            <br>
			<label for="newPassword">新密码:</label>
            <input type="password" name="newPassword" id="newPassword" value="">
            <br>
            <label for="repeatPassword">确认新密码:</label>
            <input type="password" name="repeatPassword" id="repeatPassword" value="">
            <br>
            
            <div class="am-cf">
                <button type="button" class="am-btn am-btn-primary" onclick="modifyPassword()">保存</button>
            </div>
			
		</form>
	</div>

</div>




<%} %>
