<% var pageLevelCSS = { %> <%};%> <% var pageLevelJS = { %>

<script type="text/javascript">
	jQuery(document).ready(function() {

	});
	
	function changeDiaryType() {
		var type = $('#selectType').val();
		window.location.href = "mine?type=" + type;
	}
	
	function submitPage(pageNum) {
		var type = $('#selectType').val();
		window.location.href = "mine?type=" + type + "&pageNum=" + pageNum;
	}
	
	function goWrite() {
		window.location.href= "${contextPath}/mine/addDiary";
	}
	
	function goEdit(diaryId) {
		window.location.href= "${contextPath}/mine/editDiary/" + diaryId;
	}
	
	function goDelete(diaryId) {
		if(window.confirm('确定要删除吗？')){
			$.ajax({
	            type:"POST",
	            //提交的网址
	            url:"${contextPath}/mine/doDeleteDiary/" + diaryId,
	            //提交的数据
	            data:{},
	            //返回数据的格式
	            dataType: "json",//"xml", "html", "script", "json", "jsonp", "text".
	            //成功返回之后调用的函数             
	            success:function(data){
	           		data = eval('(' + data + ')');
	           		if (data.code == 0) {
	           			alert(data.message);
	           			$('#tr-' + diaryId).remove();
	           		}
	            },
	           
	            //调用出错执行的函数
	            error: function(){
	                //请求出错处理
	            	console.log("error函数");
	            }         
	         });
         }
	}
	
</script>

<%};%> 

<% var breadCrumb = { %> <strong class="am-text-primary am-text-lg">我的</strong> /
        <small>首页</small> 
<%};%> 

<% var layoutParas =
{"pageLevelCSS":pageLevelCSS,"pageLevelJS":pageLevelJS,"breadCrumb":breadCrumb};
layout("/template/layout/mineLayout.html", layoutParas){ %>



<div class="am-g">
	<div class="am-u-sm-12 am-u-md-6">
		<div class="am-btn-toolbar">
			<div class="am-btn-group am-btn-group-xs">
				<button type="button" class="am-btn am-btn-success" onclick="goWrite()">
					<span class="am-icon-plus"></span> 写日记
				</button>
			</div>
		</div>
	</div>
	<div class="am-u-sm-12 am-u-md-3">
		<div class="am-form-group">
			<select id="selectType" data-am-selected="{btnSize: 'sm'}" onchange="changeDiaryType()">

				<% if (type==0) { %>
					<option selected="selected" value="0">所有类别</option>
				<% } else { %>
					<option value="0">所有类别</option>
				<% } %>

				<% for (diaryTypeEnum in diaryTypeEnums){ %>
					<% if (type == diaryTypeEnum.type) { %>
						<option selected="selected" value="${diaryTypeEnum.type}">${diaryTypeEnum.desc}</option>
					<% } else { %>
						<option value="${diaryTypeEnum.type}">${diaryTypeEnum.desc}</option>
					<% } %>

				<% } %>
				
			</select>
		</div>
	</div>
	<!-- <div class="am-u-sm-12 am-u-md-3">
		<div class="am-input-group am-input-group-sm">
			<input type="text" class="am-form-field"> <span
				class="am-input-group-btn">
				<button class="am-btn am-btn-default" type="button">搜索</button>
			</span>
		</div>
	</div> -->
</div>

<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form" action="javascript:void(0)">
			<table class="am-table am-table-striped am-table-hover table-main">
				<thead>
					<tr>
						<!-- <th class="table-id">ID</th> -->
						<th class="table-title">标题</th>
						<th class="table-type">类别</th>
						<th class="table-date am-hide-sm-only">日期</th>
						<th class="table-type">天气</th>
						<th class="table-type">私密性</th>
						<th class="table-set">操作</th>
					</tr>
				</thead>
				<tbody>
					<% if (diaries != null && diaries.~size > 0) { %>
						<% for (diary in diaries){ %>
						<tr id='tr-${diary.diaryId}'>
							<!-- <td>${diary.diaryId}</td> -->
							<td><a href="viewDiary/${diary.diaryId}">${diary.title}</a></td>
							<td class="am-hide-sm-only">${diaryTypeMap[diary.type]}</td>
							<td><% utcFormatFunction(diary.date, 'yyyy-MM-dd'); %></td>
							<td class="am-hide-sm-only">${weatherMap[diary.weather]}</td>
							<td class="am-hide-sm-only">${privateTypeMap[diary.privateType]}</td>
							<td>
								<div class="am-btn-toolbar">
									<div class="am-btn-group am-btn-group-xs">
										<button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="goEdit('${diary.diaryId}')">
											<span class="am-icon-pencil-square-o"></span> 编辑
										</button>
										<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"  onclick="goDelete('${diary.diaryId}')" >
											<span class="am-icon-trash-o"></span> 删除
										</button>
									</div>
								</div>
							</td>
						</tr>
					<% } } %>

				</tbody>
			</table>

			<% if (diaries != null && diaries.~size > 0) {
			include("/static/inc/page.inc"){}; }%>

			<hr />
		</form>
	</div>

</div>




<%} %>
