<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    
        <title>重置密码</title>
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="${contextPath}/static/assets/i/favicon.ico">
    <link rel="stylesheet" href="${contextPath}/static/assets/css/amazeui.min.css"/>

    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>

    <!-- <script type="text/javascript" src="${contextPath}/static/jquery-3.0.0.min.js"></script> -->
    <script src="${contextPath}/static/assets/js/jquery.min.js"></script>
    
    <script src="${contextPath}/static/assets/js/amazeui.min.js"></script>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>${webName}</h1>

        <p>${webIntroduction}</p>
    </div>
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    	
        <h2>重置密码</h2>
        
        <hr>

        <br>
        <br>

        <form class="am-form" >
        	
            <label for="name">用户名:</label>
            <input type="text" name="name" id="name" value="">
            <br>
            
            <label for="email">邮箱:</label>
            <input type="text" name="email" id="email" value="">
            <br>

            <div class="am-cf" style="align:center;">
                <button type="button" class="am-btn am-btn-primary" id="sureButton" onclick="doForgetPassword()">确定</button>
                <button type="button" class="am-btn am-btn-success" onclick="javascript:history.back()">返回</button>
            </div>
            
        </form>
        <hr>
        <p>${icpLicense}</p>
    </div>
</div>

<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">正在载入...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>


</body>

<script type="text/javascript">


    jQuery(document)
            .ready(
            function () {
				
            });

    function doForgetPassword() {
        var name = $('#name').val();
        var email = $('#email').val();

        if (name == '') {
            alert('用户名不能为空');
            return;
        }

        if (name.indexOf(' ') != -1) {
            alert('用户名中不能包含空格');
            return;
        }
        
        if (email == '') {
        	alert('邮箱不能为空');
        	return;
        }
        
        var emailReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if ( !emailReg.test(email) ) {
        	alert('请输入有效的邮箱');
        	return;
        }

        $('#sureButton').modal();
        $.ajax( {  
		    url:'${contextPath}/doForgetPassword', 
		    data:{  
		             name : name,  
		             email : email 
		    },
		    type:'post',  
		    cache:false,  
		    dataType:'json',
		    success:function(data) {
		    	$('#sureButton').modal('close');
		    	console.log(data);
		    	data = eval("(" + data + ")");
		    	alert(data.message);
		        if(data.code == 0 ){
		            window.location.href = '${contextPath}/login'  
		        }  
		     },  
		     error : function() {  
		    	 $('#sureButton').modal('close');
		         alert("异常！");  
		     }  
		});
       
    }
</script>


</html>
